:root{
    /* Colors taken from the logo */
    --FAIRYDUST-BODY: #0B7D38; /* green */
    --FAIRYDUST-BODY-fin: #007D39; /* slightyl darker green */
    --FAIRYDUST-BODY-shadow: #02421F; /* very dark green */
    --FAIRYDUST-BODY-WINDOW-frame-outer: #EDE219; /* yellow */
    --FAIRYDUST-BODY-WINDOW-frame-inner: #F8AF56; /* peachy */
    --FAIRYDUST-BODY-WINDOW-frame-highlight: #F1820A; /* orange */
    --FAIRYDUST-FLAME-red: #E20706; /* red */
    --FAIRYDUST-FLAME-orange: #FE8B0B; /* orange */
    --FAIRYDUST-FLAME-yellow: #FEEC1A; /* yellow */
    --FAIRYDUST-FLAME-green: #087F28; /* green */
    --FAIRYDUST-FLAME-blue: #064DFE; /* blue */
    --FAIRYDUST-FLAME-purple: #740D85; /* purple */
    --FAIRYDUST-SPACE: #0A0C22; /* space black */
    --FAIRYDUST-STAR: #F3DEC8; /* off-white peachy star */

    --FAIRYDUST-BRIGHT: #ccc; /* off-white */

    
    --MAIN-TEXT-color: var(--FAIRYDUST-SPACE); /* was #323232;*/ /* Color of text by default */
    --MAIN-TITLES-TEXT-color: #5e5e5e; /* Color of titles h2-h3-h4-h5 */
    --MAIN-LINK-color:var(--FAIRYDUST-BODY); /* Color of links */
    --MAIN-LINK-HOVER-color: var(--FAIRYDUST-FLAME-blue); /* Color of hovered links */
    --MAIN-ANCHOR-color: var(--FAIRYDUST-FLAME-blue); /* color of anchors on titles */
    --MAIN-LINK-ACTIVE-color: var(--FAIRYDUST-BODY-shadow); /* Color of clicked links */

    --MENU-HEADER-BG-color:var(--FAIRYDUST-SPACE); /* Background color of menu header */
    --MENU-HEADER-BORDER-color:var(--FAIRYDUST-BODY); /*Color of menu header border */ 

    --MENU-SEARCH-BG-color:var(--FAIRYDUST-BRIGHT); /* Search field background color (by default borders + icons) */
    --MENU-SEARCH-BOX-color: var(--FAIRYDUST-FLAME-green); /* Override search field border color */
    --MENU-SEARCH-BOX-ICONS-color: var(--FAIRYDUST-SPACE); /* Override search field icons color */

    --MENU-SECTIONS-ACTIVE-BG-color:#20272b; /* Background color of the active section and its childs */
    --MENU-SECTIONS-BG-color:#252c31; /* Background color of other sections */
    --MENU-SECTIONS-LINK-color: #ccc; /* Color of links in menu */
    --MENU-SECTIONS-LINK-HOVER-color: #e6e6e6;  /* Color of links in menu, when hovered */
    --MENU-SECTION-ACTIVE-CATEGORY-color: #777; /* Color of active category text */
    --MENU-SECTION-ACTIVE-CATEGORY-BG-color: #ccc; /* Color of background for the active category (only) */

    --MENU-VISITED-color: var(--FAIRYDUST-FLAME-purple); /* Color of 'page visited' icons in menu */
    --MENU-SECTION-HR-color: var(--FAIRYDUST-FLAME-green); /* Color of <hr> separator in menu */  
}

body {
    color: var(--MAIN-TEXT-color) !important;
}

textarea:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, select[multiple=multiple]:focus {
    border-color: none;
    box-shadow: none;
}

h2, h3, h4, h5 {
    color: var(--MAIN-TITLES-TEXT-color) !important;
}

a {
    color: var(--MAIN-LINK-color);
}

a.highlight {
    color: var(--MAIN-LINK-color);
    font-weight: bold;
}

.anchor {
    color: var(--MAIN-ANCHOR-color);
}

a:hover {
    color: var(--MAIN-LINK-HOVER-color);
}

a:active {
    color: var(--MAIN-LINK-ACTIVE-color);
}

#sidebar ul li.visited > a .read-icon {
	color: var(--MENU-VISITED-color);
}

#body a.highlight:after {
    display: block;
    content: "";
    height: 1px;
    width: 0%;
    -webkit-transition: width 0.5s ease;
    -moz-transition: width 0.5s ease;
    -ms-transition: width 0.5s ease;
    transition: width 0.5s ease;
    background-color: var(--MAIN-LINK-HOVER-color);
}
#sidebar {
	background-color: var(--MENU-SECTIONS-BG-color);
}
#sidebar #header-wrapper {
    background: var(--MENU-HEADER-BG-color);
    color: var(--MENU-SEARCH-BOX-color);
    border-color: var(--MENU-HEADER-BORDER-color);
}
#sidebar .searchbox {
	border-color: var(--MENU-SEARCH-BOX-color);
    background: var(--MENU-SEARCH-BG-color);
}
#sidebar ul.topics > li.parent, #sidebar ul.topics > li.active {
    background: var(--MENU-SECTIONS-ACTIVE-BG-color);
}
#sidebar .searchbox * {
    color: var(--MENU-SEARCH-BOX-ICONS-color);
}

#sidebar a {
    color: var(--MENU-SECTIONS-LINK-color);
}

#sidebar a:hover {
    color: var(--MENU-SECTIONS-LINK-HOVER-color);
}

#sidebar ul li.active > a {
    background: var(--MENU-SECTION-ACTIVE-CATEGORY-BG-color);
    color: var(--MENU-SECTION-ACTIVE-CATEGORY-color) !important;
}

#sidebar hr {
    border: 0;
    height: 0.3em;
    background: var(--MENU-SECTION-HR-color);

    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, var(--FAIRYDUST-FLAME-purple)), color-stop(17%, var(--FAIRYDUST-FLAME-purple)), color-stop(17%, var(--FAIRYDUST-FLAME-blue)), color-stop(33%, var(--FAIRYDUST-FLAME-blue)), color-stop(33%, var(--FAIRYDUST-FLAME-green)), color-stop(50%, var(--FAIRYDUST-FLAME-green)), color-stop(50%, var(--FAIRYDUST-FLAME-yellow)), color-stop(67%, var(--FAIRYDUST-FLAME-yellow)), color-stop(67%, var(--FAIRYDUST-FLAME-orange)), color-stop(83%, var(--FAIRYDUST-FLAME-orange)), color-stop(83%, var(--FAIRYDUST-FLAME-red)), color-stop(100%, var(--FAIRYDUST-FLAME-red)) );

    background: -webkit-linear-gradient(left,   var(--FAIRYDUST-FLAME-purple) 0%, var(--FAIRYDUST-FLAME-purple) 17%, var(--FAIRYDUST-FLAME-blue) 17%, var(--FAIRYDUST-FLAME-blue) 33%, var(--FAIRYDUST-FLAME-green) 33%, var(--FAIRYDUST-FLAME-green) 50%, var(--FAIRYDUST-FLAME-yellow) 50%, var(--FAIRYDUST-FLAME-yellow) 66%, var(--FAIRYDUST-FLAME-orange) 66%, var(--FAIRYDUST-FLAME-orange) 83%, var(--FAIRYDUST-FLAME-red) 83%, var(--FAIRYDUST-FLAME-red) 100% ); /* Chrome10+,Safari5.1+ */

    /background:   -moz-linear-gradient(left,   var(--FAIRYDUST-FLAME-purple) 0%, var(--FAIRYDUST-FLAME-purple) 17%, var(--FAIRYDUST-FLAME-blue) 17%, var(--FAIRYDUST-FLAME-blue) 33%, var(--FAIRYDUST-FLAME-green) 33%, var(--FAIRYDUST-FLAME-green) 50%, var(--FAIRYDUST-FLAME-yellow) 50%, var(--FAIRYDUST-FLAME-yellow) 66%, var(--FAIRYDUST-FLAME-orange) 66%, var(--FAIRYDUST-FLAME-orange) 83%, var(--FAIRYDUST-FLAME-red) 83%, var(--FAIRYDUST-FLAME-red) 100% );  *//* FF3.6+ */

    background:      -o-linear-gradient(left,   var(--FAIRYDUST-FLAME-purple) 0%, var(--FAIRYDUST-FLAME-purple) 17%, var(--FAIRYDUST-FLAME-blue) 17%, var(--FAIRYDUST-FLAME-blue) 33%, var(--FAIRYDUST-FLAME-green) 33%, var(--FAIRYDUST-FLAME-green) 50%, var(--FAIRYDUST-FLAME-yellow) 50%, var(--FAIRYDUST-FLAME-yellow) 66%, var(--FAIRYDUST-FLAME-orange) 66%, var(--FAIRYDUST-FLAME-orange) 83%, var(--FAIRYDUST-FLAME-red) 83%, var(--FAIRYDUST-FLAME-red) 100% ); /* Opera 11.10+ */

    background:     -ms-linear-gradient(left,   var(--FAIRYDUST-FLAME-purple) 0%, var(--FAIRYDUST-FLAME-purple) 17%, var(--FAIRYDUST-FLAME-blue) 17%, var(--FAIRYDUST-FLAME-blue) 33%, var(--FAIRYDUST-FLAME-green) 33%, var(--FAIRYDUST-FLAME-green) 50%, var(--FAIRYDUST-FLAME-yellow) 50%, var(--FAIRYDUST-FLAME-yellow) 66%, var(--FAIRYDUST-FLAME-orange) 66%, var(--FAIRYDUST-FLAME-orange) 83%, var(--FAIRYDUST-FLAME-red) 83%, var(--FAIRYDUST-FLAME-red) 100% ); /* IE10+ */

    background:     linear-gradient(to right,   var(--FAIRYDUST-FLAME-purple) 0%, var(--FAIRYDUST-FLAME-purple) 17%, var(--FAIRYDUST-FLAME-blue) 17%, var(--FAIRYDUST-FLAME-blue) 33%, var(--FAIRYDUST-FLAME-green) 33%, var(--FAIRYDUST-FLAME-green) 50%, var(--FAIRYDUST-FLAME-yellow) 50%, var(--FAIRYDUST-FLAME-yellow) 66%, var(--FAIRYDUST-FLAME-orange) 66%, var(--FAIRYDUST-FLAME-orange) 83%, var(--FAIRYDUST-FLAME-red) 83%, var(--FAIRYDUST-FLAME-red) 100% ); /* W3C */
}
